.body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.background-theme{
    background-color: thistle;
}
.bgimage{
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
nav{
    position: absolute !important;
    z-index: 1;
    width: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
}
.primarytextcolor{
    color: white !important;
}
.cart-icon{
    color: white;
}